.floated_icons-r1 , .floated_icons-r2 , .floated_icons-r3{
  direction: ltr;
  float: left;
  position: fixed;
  left: 0;
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  z-index: 1500;
  white-space: nowrap;
}
.floated_icons-r1 {
  top: 45%;
}
.floated_icons-r2 {
  top: calc(45% + 49px);
}
.floated_icons-r3 {
  top: calc(45% + 98px);
}

.floated_icons-r1 a , .floated_icons-r2 a , .floated_icons-r3 a  {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
  margin: 0;
  min-width: 40px;
  width: auto;
  height: 40px;
  color: $primaryColor;
  padding: 24px 0;
  background-color: #EEEEEE;
  text-decoration: none !important;
}

.floated_icons-r1 a , .floated_icons-r2 a  {
  border-bottom: 2px solid $hoverColor;
}

.floated_icons-r1 a span , .floated_icons-r2 a span , .floated_icons-r3 a span {
  visibility: hidden;
  overflow: hidden;
  padding: 0;
  width: 0;
  white-space: nowrap;
  font-weight: 600;
  font-size: 13px;
  margin-left: 10px;
  text-align: right;
  color: $secondaryTextColor !important;
  font-family: $textFont !important;
  direction: rtl;
  @include myTransition(0.1s ease-in-out);
}
.floated_icons-r1 a:hover span{
  padding: 20px;
  width: 200px;
  visibility: visible;
}
.floated_icons-r2 a:hover span{
  padding: 20px;
  width: 200px;
  visibility: visible;
}
.floated_icons-r3 a:hover span{
  padding: 20px;
  width: 200px;
  visibility: visible;
}

.floated_icons-r1 img , .floated_icons-r2 img, .floated_icons-r3 img  {
  width: 35px;
  height: auto;
  padding: 4px;
  margin-left: 8px;
  @include myTransition(0.1s ease);
}


.floated-shop {
  position: fixed;
  left: 20px;
  bottom: 45px;
  background: $primaryColor;
  width: 60px;
  height: 60px;
  border-radius: 50px !important;
  line-height: 60px;
  text-align: center;
  font-size: 24px;
  z-index: 1000;
  display: none;
}
.floated-shop i{
  color: #ffffff;
  line-height: 60px;
  font-size: 30px;
}
.floated-shop svg{
  color: #ffffff;
  height: 95%;
}

.avia-layerslider{
  z-index: 0;
}
div#footer{
  z-index: 0;
}
#socket{
  z-index: 0;
}


/* Footer */
#footer{
  display: none;
  width: 0;
  height: 0;
}
#custom-footer{
  background-color: #eeeeee;
  padding: 2px;
  font-family: $textFont !important;
}
#custom-footer .first-row{
  border-bottom: 2px groove #ffffff;
}
#custom-footer .second-row{
  border-bottom: 2px groove #ffffff;
}
#custom-footer .fr-element{
  text-align: center;
  padding: 6px;
  margin-top: 6px;
}
#custom-footer .sr-element{
  text-align: right;
  padding-right: 80px;
}
#custom-footer .tr-element{
  text-align: right;
  padding-right: 80px;
  font-family: $textFont ;
}
#custom-footer .fr-element img{
  width: 75px;
  height: auto;
}
#custom-footer .fr-element span{
  color: $secondaryTextColor;
  font-size: 13px;
  user-select: none;
}
#custom-footer .sr-element h6{
  margin: 12px auto;
  padding-top: 12px;
  font-size: 18px;
  color: $secondaryTextColor;
  text-align: right;
  font-weight: bold;
}
#custom-footer .fr-element p {
  margin: 10px auto;
  font-family: $textFont;
}
#custom-footer .sr-element p {
  margin: 14px auto;
}
#custom-footer .sr-element p a{
  color: $secondaryTextColor;
  font-size: 14px;
}
#custom-footer .sr-element p a:hover{
  text-decoration: underline;
}
#custom-footer .sr-element .footer-social{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#custom-footer .sr-element .footer-social a{
  margin: 0 10px;
  font-size: 40px;
}
#custom-footer .sr-element .footer-social a i{
  @include myTransition(0.4s ease);
  color: $secondaryTextColor;
  font-size: 0.75em;
}
#custom-footer .sr-element .footer-social a i.fa-instagram:hover{
  color: #db2975;
}
#custom-footer .sr-element .footer-social a i.fa-telegram:hover{
  color: #2da5d9;
}

#custom-footer .sr-element .footer-social a img{
  @include myTransition(0.2s ease);
}
#custom-footer .sr-element .footer-social a:hover img{
  transform: scale(1.05);
}
#custom-footer .tr-element {
  margin-top: 10px;
}
#custom-footer .tr-element h6{
  font-size: 15px;
  color: $secondaryTextColor;
  font-family: $textFont;
  line-height: 2;
  font-weight: bold;
}
#custom-footer .tr-element h6 p{
  font-weight: normal;
  font-size: 13px;
  font-family: $textFont !important;
  direction: ltr;
}
#custom-footer .tr-element p {
  margin: auto;
  color: $secondaryTextColor;
  font-size: 15px;
  line-height: 2;
  font-family: $textFont !important;
}
#custom-footer #gateway {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#custom-footer #gateway a{
  margin: 0 24px;
}

#custom-footer #gateway img#zarin_img {
  width: 80px;
  height: auto;
}
#custom-footer #gateway img#FhjbxasmXXMZd5Y5vKZc , #custom-footer #gateway img#mellat_img {
  width: 100px;
  height: auto;
}

#socket .sub_menu_socket li{
  border-right-color: #EEEEEE !important;
}

footer .footer-social-btns{
  border-top: 1px solid #EEEEEE !important;
  width: 75%;
  margin: auto;
  text-align: center;
  padding: 15px;
}
footer .footer-social-btns a{
  font-size: 2.5em;
  color: $hoverColor;
  margin: 0 10px;
  @include myTransition(0.3s ease-in-out);
}
footer .footer-social-btns a:hover{
  color: $primaryHoverColor;
}
footer .footer-social-btns i{
  -webkit-text-stroke: 0.5px #eee;
  -webkit-text-fill-color: transparent;
}
/* Footer */

.docs h1{
  font-family: $textFont;
}
.nav-tabs {
  margin: 26px auto;
}
.nav-tabs li a{
  color: $titleColor;
}
.tab-content p{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 15px;
  font-family: $textFont ;
}
.tab-content p span{
  margin: auto 15px;
  text-align: right;
}
.tab-content p a{
  min-width: 125px;
}
.tab-content p span strong{
  font-size: 14px;
  color: $secondaryTextColor;
}

.floated_icons_footer{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2000;
  background: #ffffff;
  width: 100%;
  height: 54px;
  padding: 4px;
  overflow-x: scroll;
  overflow-y: hidden;
  display: none;
  box-shadow: 0 0 5px $hoverColor;
}
.fif-container{
  padding:0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  width: 200%;
}
.fif-container a{
  display: flex;
  flex-flow: column ;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-decoration: none !important;
  width: 33%;
  font-weight: bold;
}
.fif-container a img{
  width: 22px;
  height: 22px;
  text-align: center;
  margin: auto;
  padding: 2px;
}
.fif-container a span{
  color: $primaryTextColor;
  font-family: $textFont ;
  font-size: 10px;
}

/* Ringing Phone */
.dial-btn{
  display: none;
  position: fixed;
  left: 8px;
  bottom: 60px;
  width: 54px;
  height: 54px;
  line-height: 54px;
  text-align: center;
  background-color: forestgreen;
  border-radius: 50%;
  z-index: 1000;
}
.dial-btn i{
  font-size: 54px;
}

.Phone {
  position: relative;
  display: block;
  margin: 0;
  width: 1em;
  height: 1em;
  font-size: 25vmin;
  background-color: forestgreen;
  border-radius: 0.5em;
  box-shadow:
          0 0 0 0em rgba(#3498db, 0),
          0em 0.05em 0.1em rgba(#000000, 0.2);
  transform: translate3d(0, 0, 0) scale(1);
}

.Phone::before,
.Phone::after {
  position: absolute;
  content: "";
}

.Phone::before {
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  background-color: rgba(255,255,255,0.2);
  border-radius: 100%;
  opacity: 1;
  transform: translate3d(0, 0, 0) scale(0);
}

.Phone::after {
  top: 0.25em;
  left: 0.25em;
  width: 0.5em;
  height: 0.5em;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTYuNiAxMC44YzEuNCAyLjggMy44IDUuMSA2LjYgNi42bDIuMi0yLjJjLjMtLjMuNy0uNCAxLS4yIDEuMS40IDIuMy42IDMuNi42LjUgMCAxIC40IDEgMVYyMGMwIC41LS41IDEtMSAxLTkuNCAwLTE3LTcuNi0xNy0xNyAwLS42LjQtMSAxLTFoMy41Yy41IDAgMSAuNCAxIDEgMCAxLjIuMiAyLjUuNiAzLjYuMS40IDAgLjctLjIgMWwtMi4zIDIuMnoiIGZpbGw9IiNmZmZmZmYiLz48L3N2Zz4=);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate3d(0, 0, 0);
}

.Phone.is-animating {
  animation: phone-outer 3000ms infinite;
}

.Phone.is-animating::before{
  animation: phone-inner 3000ms infinite;
}
.Phone.is-animating::after{
  animation: phone-icon 3000ms infinite;
}

@keyframes phone-outer {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
    box-shadow:
            0 0 0 0em rgba(#3498db, 0),
            0em 0.05em 0.1em rgba(#000000, 0.2);
  }
  33.3333% {
    transform: translate3d(0, 0, 0) scale(1.1);
    box-shadow:
            0 0 0 0em rgba(#3498db, 0.1),
            0em 0.05em 0.1em rgba(#000000, 0.5);
  }
  66.6666% {
    transform: translate3d(0, 0, 0) scale(1);
    box-shadow:
            0 0 0 0.5em rgba(#3498db, 0),
            0em 0.05em 0.1em rgba(#000000, 0.2);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
    box-shadow:
            0 0 0 0em rgba(#3498db, 0),
            0em 0.05em 0.1em rgba(#000000, 0.2);
  }
}

@keyframes phone-inner {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(0);
  }
  33.3333% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(0.9);
  }
  66.6666% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(0);
  }
}

@keyframes phone-icon {
  0% { transform: translate3d(0em, 0, 0); }
  2% { transform: translate3d(0.01em, 0, 0); }
  4% { transform: translate3d(-0.01em, 0, 0); }
  6% { transform: translate3d(0.01em, 0, 0); }
  8% { transform: translate3d(-0.01em, 0, 0); }
  10% { transform: translate3d(0.01em, 0, 0); }
  12% { transform: translate3d(-0.01em, 0, 0); }
  14% { transform: translate3d(0.01em, 0, 0); }
  16% { transform: translate3d(-0.01em, 0, 0); }
  18% { transform: translate3d(0.01em, 0, 0); }
  20% { transform: translate3d(-0.01em, 0, 0); }
  22% { transform: translate3d(0.01em, 0, 0); }
  24% { transform: translate3d(-0.01em, 0, 0); }
  26% { transform: translate3d(0.01em, 0, 0); }
  28% { transform: translate3d(-0.01em, 0, 0); }
  30% { transform: translate3d(0.01em, 0, 0); }
  32% { transform: translate3d(-0.01em, 0, 0); }
  34% { transform: translate3d(0.01em, 0, 0); }
  36% { transform: translate3d(-0.01em, 0, 0); }
  38% { transform: translate3d(0.01em, 0, 0); }
  40% { transform: translate3d(-0.01em, 0, 0); }
  42% { transform: translate3d(0.01em, 0, 0); }
  44% { transform: translate3d(-0.01em, 0, 0); }
  46% { transform: translate3d(0em, 0, 0); }
}
/* Ringing Phone */


/*Ripple new*/
.single_add_to_cart_button{
  font-family: $textFont ;
  height: 50px;
  font-size: 24px;
  padding: 0 70px !important;
  border: 0;
  outline: 0;
  color: white;
  background-color: $primaryLightColor;
  border-radius: 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3 );
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 10;
}

.single_add_to_cart_button i{
  position: absolute;
  right:15px;
  top: 5px;
  font-size: 1.75em;
}
.single_add_to_cart_button svg{
  position: absolute;
  right:12px;
  top: 12px;
}

.single_add_to_cart_button::before{
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 54px;
  height: 100%;
  background: #ffffff;
  @include myTransition(all 0.3s);
  border-radius: 50px 0 0 50px;
  opacity: 0.1;
  z-index: -1;
}
.single_add_to_cart_button:hover::before{
  width: 150%;
  height: 200%;
  transform: skew(-30deg);
}

.footer-aboutUs p{
  width: 70%;
  text-align: justify;
  line-height: 2;
  font-size: 12px;
  font-family: $textFont;
  color: $secondaryTextColor;
}

/* Custom Header */
.custom-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $titleColor;
  height: 36px;
  line-height: 36px;
  z-index: 2000;
}
.custom-header-container {
  padding: 0 24px;
}
.custom-header-container ul{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  width: 100%;
}
.custom-header-container ul li{
  font-family: $textFont ;
  user-select: none;
}
.custom-header-container ul li span{
  font-family: $textFont ;
  font-size: 15px;
  color: #EEEEEE;
}
.custom-header-container ul li span span.phoneNumber{
  font-family: $textFont;
}
.custom-header-container ul li svg{
  color: #EEEEEE;
  vertical-align: sub;
  @include myTransition(0.3s ease-in-out);
}


#social_icons{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
}
#social_icons a {
  line-height: 45px;
}
#social_icons a i{
  @include myTransition(0.4s ease);
  color: $secondaryTextColor;
  font-size: 20px;
  margin: 0 4px;
}
#social_icons a i.fa-instagram:hover{
  color: #db2975;
}

#social_icons a i.fa-telegram:hover{
  color: #2da5d9;
}
.alternate_color, .alternate_color .site-background, .alternate_color .first-quote, .alternate_color .related_image_wrap, .alternate_color .gravatar img .alternate_color .hr_content, .alternate_color .news-thumb, .alternate_color .post-format-icon, .alternate_color .ajax_controlls a, .alternate_color .tweet-text.avatar_no, .alternate_color .toggler, .alternate_color .toggler.activeTitle:hover, .alternate_color #js_sort_items, .alternate_color.inner-entry, .alternate_color .grid-entry-title, .alternate_color .related-format-icon, .grid-entry .alternate_color .avia-arrow, .alternate_color .avia-gallery-big, .alternate_color .avia-gallery-big, .alternate_color .avia-gallery img, .alternate_color .grid-content, .alternate_color .av-share-box ul, #top .alternate_color .av-related-style-full .related-format-icon, .alternate_color .related_posts.av-related-style-full a:hover, .alternate_color.avia-fullwidth-portfolio .pagination .current, .alternate_color.avia-fullwidth-portfolio .pagination a, .alternate_color .av-hotspot-fallback-tooltip-inner, .alternate_color .av-hotspot-fallback-tooltip-count {
  margin-top: 40px;
}
.html_header_top.html_header_sticky #header {
  top: 36px;
}
.social-icons {
  position: absolute;
  top: 55px;
  left: 20px;
}
.social-icons a#insta {
  color: #db2975;
}

.social-icons a#telegram {
  color: #2da5d9;
}
.social-icons a {
  margin: auto 8px;
}
.social-icons a i{
  font-size: 2em;
}
/* Custom Header */

.cart_dropdown_link [data-av_iconfont='entypo-fontello']:before  {
  display: none !important;
}
#menu-item-search [data-av_iconfont='entypo-fontello']:before {
  content: "\e904";
  font-family: "mycon";
  margin-left: 10px;
  font-size: 22px;
}

/* New */
.fab-container {
  position: fixed;
  bottom: 60px;
  left: 15px;
  z-index: 999;
  cursor: pointer;
}

.fab-icon-holder {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: $successMsgColor;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.fab-icon-holder:hover {
  opacity: 0.8;
}

.fab-icon-holder i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 25px;
  color: #ffffff;
}
.fab-icon-holder svg{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 60%;
  margin: auto;
  font-size: 25px;
  color: #ffffff;
}

.fab {
  width: 50px;
  height: 50px;
  background: forestgreen;
}

.fab-options {
  list-style-type: none;
  margin: 0;
  position: absolute;
  bottom: 70px;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease;
  transform: scale(0);
  transform-origin: 85% bottom;
}

.fab:hover+.fab-options,
.fab-options:hover {
  opacity: 1;
  transform: scale(1);
}

.fab-options li {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}
.fab-options li a{
  align-self: center;
}

.fab-label {
  padding: 2px 5px;
  align-self: center;
  user-select: none;
  white-space: nowrap;
  border-radius: 3px;
  font-size: 16px;
  background: $secondaryTextColor;
  color: #ffffff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}
/* New */

#scroll-bar{
  z-index: 1500;
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  background: $primaryColor;
  height: 3px;
  border-radius: 0;
  display: none;
}

.tooltip {
  font-family: $textFont ;
  font-size: 11px;
}

