/* Footer */
#socket {
  display: none;
  z-index: 0;
}

#footer {
  display: none;
  width: 0;
  height: 0;
  z-index: 0;
}

#custom-footer {
  background-color: $primaryColor;
  padding: 2px;
  font-family: $textFont;
  margin-top: 0;
}

#custom-footer .fr-element {
  text-align: center;
  padding: 0;
  margin: 13px auto 5px auto;
}

#custom-footer .sr-element {
  text-align: right;
  margin-bottom: 30px;
}

#custom-footer .tr-element {
  text-align: right;
  font-family: $textFont;
}

#custom-footer .fr-element img {
  width: 60px;
  height: auto;
  border-radius: 5px;
  margin: 5px auto;
}

#custom-footer .fr-element span {
  color: #e0e0e0;
  font-size: 100%;
  user-select: none;
}

#custom-footer .sr-element p.title {
  line-height: 2;
  font-size: 100%;
  color: #ffffff;
  text-align: right;
  font-weight: normal;
  padding: 5px;
  border-bottom: 1.5px solid #bdbdbd;

  &::after {
    content: "";
    position: absolute;
    top: 42px;
    right: 15px;
    //border-bottom: 1px solid #bdbdbd;
    @include myTransition(0.3s ease-in-out);
  }
}

#custom-footer .fr-element p::selection {
  background-color: $primaryColor !important;
  color: #eee !important;
}

#custom-footer .fr-element p {
  margin: auto;
  font-family: $textFont;
}

#custom-footer .sr-element ul li {
  margin: 6px auto;
  padding: 0;

}

#custom-footer .sr-element ul li a {
  color: #e0e0e0;
  font-size: 90%;
}

#custom-footer .sr-element ul li a:hover {
  color: #EEEEEE;
}

#custom-footer .sr-element .footer-social {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#custom-footer .sr-element .footer-social a {
  margin: 0 10px;
  font-size: 90%;
}

#custom-footer .sr-element .footer-social a i {
  @include myTransition(0.4s ease);
  color: $secondaryTextColor;
  font-size: 100%;
}

#custom-footer .sr-element .footer-social a i.fa-instagram:hover {
  color: $instaColor;
}

#custom-footer .sr-element .footer-social a i.fa-telegram:hover {
  color: $telegramColor;
}

#custom-footer .sr-element .footer-social a img {
  @include myTransition(0.2s ease);
}

#custom-footer .sr-element .footer-social a:hover img {
  transform: scale(1.05);
}

#custom-footer .tr-element {
  margin-top: 10px;
}

#custom-footer .tr-element p.title {
  font-size: 115%;
  color: #ffffff;
  font-family: $textFont;
  line-height: 2;
  font-weight: normal;
  padding: 0 5px;
  margin: 0;
  border-bottom: 1px solid #bdbdbd;

  &::after {
    content: "";
    position: absolute;
    top: 42px;
    right: 15px;
    //border-bottom: 1px solid #bdbdbd;
    @include myTransition(0.3s ease-in-out);
  }
}

#custom-footer .sr-element h6.oneWord,
#custom-footer .tr-element h6.oneWord {
  &::after {
    width: 55px;
  }
}

#custom-footer .sr-element h6.twoWords,
#custom-footer .tr-element h6.twoWords {
  &::after {
    width: 90px;
  }
}

#custom-footer .sr-element h6.threeWords,
#custom-footer .tr-element h6.threeWords {
  &::after {
    width: 125px;
  }
}

#custom-footer .sr-element h6.fourWords,
#custom-footer .tr-element h6.fourWords {
  &::after {
    width: 165px;
  }
}

#custom-footer .tr-element ul li a {
  color: #e0e0e0;
}

#custom-footer .tr-element ul li,
#custom-footer .tr-element p span {
  font-weight: normal;
  font-size: 85%;
  font-family: $textFont;
  direction: ltr;
  padding: 6px 0;
  line-height: 2;
  color: #EEEEEE;
}

#custom-footer #gateway {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}

#custom-footer #gateway a {
  margin: 0 10px;
}

#custom-footer #gateway img#zarin_img {
  width: 80px;
  height: auto;
}

#custom-footer #gateway img#FhjbxasmXXMZd5Y5vKZc,
#custom-footer #gateway img#mellat_img {
  width: 70px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 4px #757575;
  margin: 10px auto;
}

#custom-footer {
  .iframe-wrapper {
    text-align: center;
    padding: 0;

    iframe {
      width: 100%;
      border-radius: 5px;
      box-shadow: 0 0 3px #9e9e9e;
    }
  }

  .apps-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    a {
      margin: 0 2px;

      img {
        width: 150px;
        height: auto;
      }
    }
  }

  .enamad-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    img {
      filter: drop-shadow(0px 0px 3px #757575);
    }
  }

  #addr_column {
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: flex-start;

    li {
      font-size: 100%;
      direction: rtl;

      span {
        font-size: 100%;
      }
    }
  }
}

#socket .sub_menu_socket {
  width: 100%;

  li {
    border-right-color: #EEEEEE !important;

    a:hover {
      color: #EEEEEE !important;
    }
  }
}

footer .footer-social-btns {
  border-top: 1px solid #EEEEEE !important;
  width: 75%;
  margin: auto;
  text-align: center;
  padding: 15px;
}

footer .footer-social-btns a {
  font-size: 90%;
  color: $hoverColor;
  margin: 0 10px;
  @include myTransition(0.3s ease-in-out);
}

footer .footer-social-btns a:hover {
  color: $primaryHoverColor;
}

footer .footer-social-btns i {
  -webkit-text-stroke: 0.5px #eee;
  -webkit-text-fill-color: transparent;
}

/* Footer */


.docs h1 {
  font-family: $textFont;
}

.nav-tabs {
  margin: 26px auto;
}

.nav-tabs li a {
  color: $titleColor;
}

.tab-content p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 15px;
  font-family: $textFont ;
}

.tab-content p span {
  margin: auto 15px;
  text-align: right;
}

.tab-content p a {
  min-width: 125px;
}

.tab-content p span strong {
  font-size: 100%;
  color: $secondaryTextColor;
}

.floated_icons_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #ffffff;
  width: 100%;
  height: 54px;
  overflow-y: hidden;
  display: none;
  box-shadow: 0 0 5px $hoverColor;
  padding: 4px 0;
  z-index: 1;

  .fif-container {
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: auto;

    a {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-decoration: none !important;
      width: 33%;
      font-weight: bold;

      img {
        width: 22px;
        height: 22px;
        text-align: center;
        margin: auto;
        padding: 2px;
      }

      span {
        color: $primaryTextColor;
        font-family: $textFont ;
        font-size: 65%;
        font-weight: bold;
      }

      i {
        font-size: 100%;
        color: $primaryTextColor;
      }

      i.ic-instagram {
        color: $instaColor;
      }

      i.ic-telegram1 {
        color: $telegramColor;
      }

      i.ic-telegram {
        color: $telegramColor;
      }

      i.ic-shopping-cart {
        color: $primaryColor;
      }
    }
  }
}


/*Ripple new*/
.single_add_to_cart_button {
  font-family: $textFont ;
  height: 45px;
  font-size: 13px;
  padding: 0 60px 0 30px !important;
  border: 0;
  outline: 0;
  color: white;
  background-color: $primaryDarkColor;
  border-radius: 3px !important;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 10;
}

.single_add_to_cart_button i {
  position: absolute;
  right: 12px;
  top: 0;
  font-size: 100%;
  height: 45px;
  line-height: 45px;
}

.single_add_to_cart_button svg {
  position: absolute;
  right: 12px;
  top: 12px;
}

.single_add_to_cart_button::before {
  content: "";
  position: absolute;
  right: -30px;
  top: -30px;
  width: 75px;
  height: 200%;
  transform: rotateZ(10deg);
  background-color: #444444;
  @include myTransition(all 0.3s);
  border-radius: 0;
  opacity: 0.2;
  z-index: -1;
}

.single_add_to_cart_button:hover::before {
  width: 150%;
  height: 200%;
  transform: skew(-30deg);
}

.single_add_to_cart_button span {
  position: absolute;
  border-radius: 50%;
  /* To make it round */
  background-color: rgba(0, 0, 0, 0.3);
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  animation: ripple 1s;
  opacity: 0;
}

.footer-aboutUs p {
  width: 100%;
  text-align: justify;
  line-height: 2;
  font-size: 100%;
  font-family: $textFont;
  color: $secondaryWhiteColor;
  user-select: none;
}

/* Custom Header */
.custom-header {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 1000;

  .custom-header-container {
    padding: 0 24px;

    ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: center;
      width: 100%;

      li {
        font-family: $textFont ;

        span {
          font-family: $textFont;
          font-size: 100%;
          color: $primaryColor;
          font-weight: bold;

          .phoneNumber {
            font-family: $textFont;
            color: $primaryColor;
          }
        }

        svg {
          color: #EEEEEE;
          vertical-align: sub;
          @include myTransition(0.3s ease-in-out);
        }
      }

    }
  }

  .header_phones {
    position: fixed;
    left: 65px;
    top: 5px;
    padding: 5px;

    a {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      direction: ltr;
      font-size: 100%;
      margin: 4px auto;
      //user-select: none;
      color: $secondaryTextColor;

      span {
        padding: 0 4px;
      }

      i {
        font-size: 100%;
        color: $secondaryTextColor;
        vertical-align: text-bottom;
        @include myTransition(0.2s ease);
      }

      .phoneNumber {
        min-width: 90px;
        text-align: left;
      }

      .unit_title {
        min-width: 90px;
        text-align: right;
      }
    }
  }
}

#social_icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
}

#social_icons a {
  line-height: 45px;
}

#social_icons a i {
  @include myTransition(0.4s ease);
  color: $secondaryTextColor;
  font-size: 100%;
  margin: 0 4px;
}

#social_icons a i.fa-instagram:hover {
  color: $instaColor;
}

#social_icons a i.fa-telegram:hover {
  color: $telegramColor;
}

.fourth-row {
  width: 92%;
  margin: auto;

  .fourth-row-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    margin-top: 24px;

    .copyrightText {
      span {
        color: #bdbdbd;
        line-height: 2;
        font-weight: lighter;
        font-size: 75%;
      }
    }

    .social-icons a {
      margin: auto 8px;
      color: #bdbdbd;
      @include myTransition(0.25s ease);

      &:hover {
        color: #EEEEEE;

        i {
          font-weight: normal;
        }
      }

      i {
        font-size: 115%;

        &::before {
          color: unset;
        }
      }
    }
  }
}

/* Custom Header */

.cart_dropdown_link [data-av_iconfont='entypo-fontello']:before {
  display: none !important;
}

#menu-item-search [data-av_iconfont='entypo-fontello']:before {
  content: "\e908";
  font-family: "mycon";
  margin-left: 10px;
  font-size: 130%;
  vertical-align: text-bottom;
}

/* New */
.fab-container {
  position: fixed;
  bottom: 60px;
  left: 15px;
  z-index: 999;
  cursor: pointer;
}

.fab-icon-holder {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: $successMsgColor;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.fab-icon-holder:hover {
  opacity: 0.8;
}

.fab-icon-holder i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 100%;
  color: #ffffff;
}

.fab-icon-holder svg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 60%;
  margin: auto;
  font-size: 100%;
  color: #ffffff;
}

.fab-options {
  list-style-type: none;
  margin: 0;
  position: absolute;
  bottom: 70px;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease;
  transform: scale(0);
  transform-origin: 90% bottom;
}

.fab:hover+.fab-options,
.fab-options:hover {
  opacity: 1;
  transform: scale(1);
}

.fab-options li {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.fab-options li a {
  align-self: center;
}

.fab-label {
  padding: 2px 5px;
  align-self: center;
  user-select: none;
  white-space: nowrap;
  border-radius: 3px;
  font-size: 100%;
  background: $secondaryTextColor;
  color: #ffffff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}

/* New */

#scroll-bar {
  z-index: 1500;
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  background: $primaryColor;
  height: 3px;
  border-radius: 0;
  display: none;
}

/* Start Bootstrap Tooltip */
.tooltip {
  font-family: $textFont;
  font-size: 90%;
}

/* End Bootstrap Tooltip */


/* Start Notif Banner */
.notif_banner_container {
  position: fixed;
  bottom: -1000px;
  left: 0;
  width: 100%;
  background: $backgroundColor;
  height: auto;
  padding: 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  box-shadow: 0 0 3px #bdbddb;
  z-index: 9999999;

  .rightSide {
    width: 25%;
    text-align: left;

    img {
      padding: 0;
      width: 95px;
      height: auto;
    }
  }

  .leftSide {
    width: 75%;

    .banner_title p {
      width: 75%;
      text-align: center;
      color: $primaryTextColor;
      font-weight: bold;
      font-size: 100%;
      user-select: none;
    }

    .banner_desc p {
      width: 75%;
      text-align: center;
      color: $secondaryTextColor;
      font-size: 100%;
      user-select: none;
    }

    p {
      padding: 3px;
      margin: 0 0 10px 0;
    }

    .banner_buttons {
      text-align: center;
      width: 75%;
      padding: 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      a#banner_btn1 {
        background-color: transparent;
        color: #0ea960;
        border: 1px solid #0ea960;
      }

      a#banner_btn2 {
        background-color: transparent;
        color: #0275d8;
        border: 1px solid #0275d8;
      }

      a {
        padding: 5px 15px;
        margin: auto 13px;

        img {
          vertical-align: top;
          width: 20px;
          height: auto;
        }
      }
    }
  }

  .notif_close {
    position: absolute;
    left: 12px;
    top: 50px;
    border: none;
    color: $AccentColor;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    @include myTransition(0.15s ease);

    &:hover {
      color: $primaryColor;
      background-color: #eee;
    }

    i {
      font-size: 100%;
      vertical-align: middle;
    }
  }
}

/* Start Notif Banner */


/* Start Post Attribs */
.template-blog.template-single-blog {
  .post-entry.post-entry-type-standard .entry-content-header {
    display: none;
  }
}

.content .entry-content-wrapper {
  padding-right: 0 !important;
}

#top #main .sidebar {
  border-left-width: 20px !important;
  border-radius: 0;
  border-color: transparent;
}

.container .av-content-small.units {
  border-right: none;
  margin-right: 10px;
}

.related-posts-title {
  padding: 0 15px !important;
  margin: 0;
}

.related-posts {
  width: 96%;
  margin: 8px auto;

  .card {
    margin: auto;
    min-height: 325px;
    border-radius: 0 !important;

    a {
      border-radius: 0 !important;

      img {
        border-radius: 0 !important;
      }
    }

    .card-body {
      padding: 0 5px;

      .card-title {
        font-size: 90%;
        color: $titleColor;
        margin: 5px auto;
      }

      .card-text {
        font-size: 75%;
        text-align: justify;
        line-height: 2;
        padding: 0 5px;
        margin: 0;
        color: $secondaryTextColor;
      }
    }

    .card-footer {
      padding: 0 5px;
      background-color: transparent;
    }

    .card-bottom {
      padding: 0 10px;
    }
  }
}


/* End Post Attribs */

/* Start Product Row Btns */
.addToCart_btns {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 24px auto;

  a {
    font-size: 90%;
    padding: 8px 24px;
    margin: 4px auto;
    color: #eee !important;
    border-radius: 3px !important;
    background-color: $primaryColor;
    white-space: unset !important;
    line-height: 2 !important;

    &:hover {
      padding: 8px 24px;
      color: #eee;
      background-color: $primaryColor !important;
      border-color: transparent !important;
    }
  }

  #mobile_size_catalog {
    display: none;
  }
}

/* End Product Row Btns */

.avia-layerslider {
  z-index: 0;
}


/* Start Demo Styles */
.home_specs_grid {
  width: 50% !important;
  margin: 13px 0 !important;
}

.flex_cell {
  border-radius: 0 !important;
}

.avia-content-slider .slide-image,
.avia-content-slider .slide-image img {
  height: 200px;
}

article#melli_vector .iconbox_icon::before {
  font-family: unset !important;
  vertical-align: -35%;
  content: url('https://radshid.com/wp-content/uploads/2021/06/tolidemelli_vector.jpg');
}

article#samaneh_vector .iconbox_icon::before {
  font-family: unset !important;
  vertical-align: -35%;
  content: url('https://radshid.com/wp-content/uploads/2021/06/tech_vector.jpg');
}

article#price_vector .iconbox_icon::before {
  font-family: unset !important;
  vertical-align: -35%;
  content: url('https://radshid.com/wp-content/uploads/2021/06/consulting_vector.jpg');
}

article#guarantee_vector .iconbox_icon::before {
  font-family: unset !important;
  vertical-align: -35%;
  content: url('https://radshid.com/wp-content/uploads/2021/06/gurantine_vector-2.jpg');
}

#tablet_vector span.av-icon-char::before {
  font-family: unset !important;
  content: url('https://radshid.com/wp-content/uploads/2021/06/tablet_vector.png');
}

#pda_vector span.av-icon-char::before {
  font-family: unset !important;
  content: url('https://radshid.com/wp-content/uploads/2021/06/pda_vector.png');
}

#laptop_vector span.av-icon-char::before {
  font-family: unset !important;
  content: url('https://radshid.com/wp-content/uploads/2021/06/laptop_vector.png');
}

.slide-content {
  .slide-entry-excerpt {
    text-align: justify !important;
    font-size: 90%;
    line-height: 2;
  }

  .slide-entry-title {
    margin: 0;

    a {
      color: $titleColor !important;
      font-size: 100%;
    }
  }
}

.home_titles {
  padding: 0 !important;
  margin: 0;
  font-size: 175% !important;
}

.iconbox .iconbox_content p:last-child {
  text-align: justify;
  padding: 0 8px;
}

#header_meta {
  padding: 8px 0;
  background-color: #235e8a !important;

  .phone-info {
    padding: 0;
    font-size: 115%;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 2px;

    a {
      color: #ffffff;
    }
  }

  nav.sub_menu {
    top: 2px !important;

    li.menu-item {
      border-color: #EEEEEE !important;

      a {
        color: #EEEEEE !important;
        font-size: 115%;

        i {
          font-size: 125%;
          vertical-align: sub !important;
        }
      }
    }
  }
}

.avia-slideshow,
.avia-slideshow-inner,
li.av-single-slide {
  border-radius: 0 !important;
}

#full_slider_1 {
  position: relative;
  margin-top: 100px;

  .arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 100px;
    cursor: pointer;
    z-index: 10;
  }

  .arrows path {
    stroke: red;
    fill: transparent;
    stroke-width: 2px;
    animation: arrow 2.5s infinite;
    -webkit-animation: arrow 2.5s infinite;
  }

  .arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
    /* Safari 和 Chrome */
  }

  .arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
    /* Safari 和 Chrome */
  }

  .arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    /* Safari 和 Chrome */
  }
}

#top .title_container .container {
  margin-top: 0 !important;
}

@keyframes arrow {
  0% {
    opacity: 0
  }

  40% {
    opacity: 1
  }

  80% {
    opacity: 0
  }

  100% {
    opacity: 0
  }
}

@-webkit-keyframes arrow

/*Safari and Chrome*/
  {
  0% {
    opacity: 0
  }

  40% {
    opacity: 1
  }

  80% {
    opacity: 0
  }

  100% {
    opacity: 0
  }
}

// down arrows

.customers_carousel {
  width: 100%;
}

.avia-slideshow-arrows.avia-slideshow-controls {
  width: 100% !important;

  .prev-slide,
  .next-slide {
    font-size: 2em !important;
    color: $AccentColor !important;
  }
}

/* End Demo Styles */

.farsi_num {
  letter-spacing: 1px;
}

.eng_num {
  font-family: $latinFont;
}

/* Floated Action Button */
.fab-wrapper {
  display: none;
  position: fixed;
  bottom: 50px;
  left: 70px;
  z-index: 99999;
}

.fab-checkbox {
  display: none !important;
}

.fab {
  display: grid;
  place-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: orange;
  box-shadow: none;
  transition: all 0.3s ease;
  z-index: 1;
  border: 1px solid orange;

  &:hover {
    background-color: orange;
    box-shadow: 0px 5px 20px 5px orange;
  }

  a.direct-call {
    font-size: 24px;
    color: #fff;
  }
}

// .fab:before {
//   content: "";
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   left: 0;
//   top: 0;
//   border-radius: 50%;
//   background-color: rgba(255, 255, 255, 0.1);
// }

.fab-checkbox:checked~.fab:before {
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  background-color: rgba(255, 255, 255, 0.2);
}

.fab-dots {
  position: absolute;
  height: 8px;
  width: 8px;
  background-color: white;
  border-radius: 50%;
  top: 50%;
  transform: translateX(0%) translateY(-50%) rotate(0deg);
  opacity: 1;
  animation: blink 3s ease infinite;
  transition: all 0.3s ease;
}

.fab-dots-1 {
  left: 15px;
  animation-delay: 0s;
}

.fab-dots-2 {
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation-delay: 0.4s;
}

.fab-dots-3 {
  right: 15px;
  animation-delay: 0.8s;
}

.fab-checkbox:checked~.fab .fab-dots {
  height: 6px;
}

.fab .fab-dots-2 {
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
}

.fab-checkbox:checked~.fab .fab-dots-1 {
  width: 32px;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.fab-checkbox:checked~.fab .fab-dots-3 {
  width: 32px;
  border-radius: 10px;
  right: 50%;
  transform: translateX(50%) translateY(-50%) rotate(-45deg);
}

@keyframes blink {
  50% {
    opacity: 0.25;
  }
}

.fab-checkbox:checked~.fab .fab-dots {
  animation: none;
}

.fab-wheel {
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  width: 10rem;
  height: 10rem;
  transition: all 0.3s ease;
  transform-origin: bottom right;
  transform: scale(0);
}

.fab-checkbox:checked~.fab-wheel {
  transform: scale(1);
}

.fab-action {
  position: absolute;
  background-color: $primaryColor;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: White;
  box-shadow: none;
  transition: all 1s ease;
  border: 1px solid $backgroundColor;
  opacity: 0;

  i {
    color: #EEEEEE;
    font-size: 125%;
  }
}

.fab-checkbox:checked~.fab-wheel .fab-action {
  opacity: 1;
}

.fab-action:hover {
  background-color: $primaryColor;
}

.fab-wheel .fab-action-1 {
  right: 8px;
  top: -30px;
}

.fab-wheel .fab-action-2 {
  right: 8px;
  top: 25px;
}

/* Floated Action Button */