/* floated icons */
.floated_icons-r1 , .floated_icons-r2 , .floated_icons-r3, .floated_icons-r4{
  direction: ltr;
  float: left;
  position: fixed;
  left: 0;
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  z-index: 1;
  white-space: nowrap;
}
.floated_icons-r1 {
  top: 40%;
}
.floated_icons-r2 {
  top: calc(40% + 49px);
}
.floated_icons-r3 {
  top: calc(40% + 98px);
}
.floated_icons-r4 {
  top: calc(40% + 147px);
}

.floated_icons-r1 a , .floated_icons-r2 a , .floated_icons-r3 a, .floated_icons-r4 a  {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
  margin: 0;
  min-width: 40px;
  width: auto;
  height: 40px;
  color: $primaryColor;
  padding: 24px 0;
  background-color: #EEEEEE;
  text-decoration: none !important;
}

.floated_icons-r1 a , .floated_icons-r2 a, .floated_icons-r3 a  {
  border-bottom: 1px solid $hoverColor;
}

.floated_icons-r1 a span , .floated_icons-r2 a span , .floated_icons-r3 a span, .floated_icons-r4 a span {
  visibility: hidden;
  overflow: hidden;
  padding: 0;
  width: 0;
  white-space: nowrap;
  font-weight: normal;
  font-size: 100%;
  margin-left: 10px;
  text-align: right;
  color: $secondaryTextColor !important;
  font-family: $textFont !important;
  direction: rtl;
  @include myTransition(0.1s ease-in-out);
}
.floated_icons-r1 a:hover span ,.floated_icons-r2 a:hover span ,.floated_icons-r3 a:hover span ,.floated_icons-r4 a:hover span {
  padding: 20px;
  width: 200px;
  visibility: visible;
}

.floated_icons-r1 img , .floated_icons-r2 img, .floated_icons-r3 img, .floated_icons-r4 img  {
  width: 33px;
  height: auto;
  padding: 4px;
  margin-left: 8px;
  @include myTransition(0.1s ease);
}

.floated-shop {
  position: fixed;
  left: 20px;
  bottom: 45px;
  background: $primaryColor;
  width: 60px;
  height: 60px;
  border-radius: 50px !important;
  line-height: 60px;
  text-align: center;
  font-size: 100%;
  z-index: 1000;
  display: none;
}
.floated-shop i{
  color: #ffffff;
  line-height: 60px;
  font-size: 100%;
}
.floated-shop svg{
  color: #ffffff;
  height: 95%;
}
/* floated icons */


/* Footer */
#socket{
  display: none;
  z-index: 0;
}

#footer{
  display: none;
  width: 0;
  height: 0;
  z-index: 0;
}
#custom-footer{
  background-color: $titleColor;
  padding: 2px;
  font-family: $textFont !important;
  margin-top: 0;
}
#custom-footer .fr-element{
  text-align: center;
  padding: 0;
  margin-top: 5px;
}
#custom-footer .sr-element{
  text-align: right;
  margin-bottom: 30px;
}
#custom-footer .tr-element{
  text-align: right;
  font-family: $textFont;
}
#custom-footer .fr-element img{
  width: 60px;
  height: auto;
  border-radius: 5px;
  margin:5px auto;
}
#custom-footer .fr-element span{
  color: #bdbdbd;
  font-size: 100%;
  user-select: none;
}
#custom-footer .sr-element h6{
  line-height: 2;
  font-size: 100%;
  color: #EEEEEE;
  text-align: right;
  font-weight: normal;
  padding: 5px;
  border-bottom: 1.5px solid #263238;
  &::after{
    content: "";
    position: absolute;
    top: 42px;
    right: 15px;
    border-bottom: 1px solid $primaryDarkColor;
    @include myTransition(0.3s ease-in-out);
  }
}
#custom-footer .fr-element p::selection{
  background-color: red !important;
  color: #eee !important;
}
#custom-footer .fr-element p {
  margin: auto;
  font-family: $textFont;
}
#custom-footer .sr-element ul li {
  margin: 6px auto;
  padding: 0;

}
#custom-footer .sr-element ul li a{
  color: $secondaryWhiteColor;
  font-size: 85%;
}
#custom-footer .sr-element ul li a:hover{
  color: #EEEEEE;
}
#custom-footer .sr-element .footer-social{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#custom-footer .sr-element .footer-social a{
  margin: 0 10px;
  font-size: 85%;
}
#custom-footer .sr-element .footer-social a i{
  @include myTransition(0.4s ease);
  color: $secondaryTextColor;
  font-size: 100%;
}
#custom-footer .sr-element .footer-social a i.fa-instagram:hover{
  color: $instaColor;
}
#custom-footer .sr-element .footer-social a i.fa-telegram:hover{
  color: $telegramColor;
}

#custom-footer .sr-element .footer-social a img{
  @include myTransition(0.2s ease);
}
#custom-footer .sr-element .footer-social a:hover img{
  transform: scale(1.05);
}
#custom-footer .tr-element {
  margin-top: 10px;
}
#custom-footer .tr-element h6{
  font-size: 100%;
  color: #EEEEEE;
  font-family: $textFont;
  line-height: 2;
  font-weight: normal;
  padding: 5px;
  border-bottom: 1.5px solid #263238;
  &::after{
    content: "";
    position: absolute;
    top: 42px;
    right: 15px;
    border-bottom: 1px solid $primaryDarkColor;
    @include myTransition(0.3s ease-in-out);
  }
}
#custom-footer .sr-element h6.oneWord ,#custom-footer .tr-element h6.oneWord{
  &::after{
    width: 55px;
  }
}
#custom-footer .sr-element h6.twoWords ,#custom-footer .tr-element h6.twoWords{
  &::after{
    width: 90px;
  }
}
#custom-footer .sr-element h6.threeWords ,#custom-footer .tr-element h6.threeWords{
  &::after{
    width: 125px;
  }
}
#custom-footer .sr-element h6.fourWords ,#custom-footer .tr-element h6.fourWords{
  &::after{
    width: 165px;
  }
}

#custom-footer .tr-element ul li a{
  color: $secondaryWhiteColor;
}
#custom-footer .tr-element ul li, #custom-footer .tr-element p span {
  font-weight: normal;
  font-size: 85%;
  font-family: $textFont !important;
  direction: ltr;
  padding: 4px 0;
  line-height: 2;
  color: $secondaryWhiteColor;
}
#custom-footer #gateway {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}
#custom-footer #gateway a{
  margin: 0 10px;
}

#custom-footer #gateway img#zarin_img {
  width: 80px;
  height: auto;
}
#custom-footer #gateway img#FhjbxasmXXMZd5Y5vKZc , #custom-footer #gateway img#mellat_img {
  width: 70px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 4px #757575;
  margin: 10px auto;
}

#socket .sub_menu_socket {
  width: 100%;
  li{
    border-right-color: #EEEEEE !important;
    a:hover{
      color: #EEEEEE !important;
    }
  }
}

footer .footer-social-btns{
  border-top: 1px solid #EEEEEE !important;
  width: 75%;
  margin: auto;
  text-align: center;
  padding: 15px;
}
footer .footer-social-btns a{
  font-size: 85%;
  color: $hoverColor;
  margin: 0 10px;
  @include myTransition(0.3s ease-in-out);
}
footer .footer-social-btns a:hover{
  color: $primaryHoverColor;
}
footer .footer-social-btns i{
  -webkit-text-stroke: 0.5px #eee;
  -webkit-text-fill-color: transparent;
}
/* Footer */


.docs h1{
  font-family: $textFont;
}
.nav-tabs {
  margin: 26px auto;
}
.nav-tabs li a{
  color: $titleColor;
}
.tab-content p{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 15px;
  font-family: $textFont ;
}
.tab-content p span{
  margin: auto 15px;
  text-align: right;
}
.tab-content p a{
  min-width: 125px;
}
.tab-content p span strong{
  font-size: 100%;
  color: $secondaryTextColor;
}

.floated_icons_footer{
  position: fixed;
  bottom: 0;
  left: 0;
  background: #ffffff;
  width: 100%;
  height: 54px;
  overflow-x: scroll;
  overflow-y: hidden;
  display: none;
  box-shadow: 0 0 5px $hoverColor;
  padding: 4px 0;
  z-index: 1;
}
.fif-container{
  padding:0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  width: 200%;
}
.fif-container a{
  display: flex;
  flex-flow: column ;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-decoration: none !important;
  width: 33%;
  font-weight: bold;
}
.fif-container a img{
  width: 22px;
  height: 22px;
  text-align: center;
  margin: auto;
  padding: 2px;
}
.fif-container a span{
  color: $primaryTextColor;
  font-family: $textFont ;
  font-size: 75%;
  font-weight: normal;
}
.fif-container a i{
  font-size: 100%;
  font-weight: bold;
  margin: 4px auto;
}
.fif-container a i.ic-instagram{
  color: $instaColor;
}
.fif-container a i.ic-telegram{
  color: $telegramColor;
}
.fif-container a i.ic-shopping-cart{
  color: $primaryColor;
}

/* Ringing Phone */
.dial-btn{
  display: none;
  position: fixed;
  left: 8px;
  bottom: 60px;
  width: 54px;
  height: 54px;
  line-height: 54px;
  text-align: center;
  background-color: forestgreen;
  border-radius: 50%;
  z-index: 100;
}
.dial-btn i{
  font-size: 54px;
}

.Phone {
  position: relative;
  display: block;
  margin: 0;
  width: 1em;
  height: 1em;
  font-size: 25vmin;
  background-color: forestgreen;
  border-radius: 0.5em;
  box-shadow:
          0 0 0 0em rgba(#3498db, 0),
          0em 0.05em 0.1em rgba(#000000, 0.2);
  transform: translate3d(0, 0, 0) scale(1);
}

.Phone::before,
.Phone::after {
  position: absolute;
  content: "";
}

.Phone::before {
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  background-color: rgba(255,255,255,0.2);
  border-radius: 100%;
  opacity: 1;
  transform: translate3d(0, 0, 0) scale(0);
}

.Phone::after {
  top: 0.25em;
  left: 0.25em;
  width: 0.5em;
  height: 0.5em;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTYuNiAxMC44YzEuNCAyLjggMy44IDUuMSA2LjYgNi42bDIuMi0yLjJjLjMtLjMuNy0uNCAxLS4yIDEuMS40IDIuMy42IDMuNi42LjUgMCAxIC40IDEgMVYyMGMwIC41LS41IDEtMSAxLTkuNCAwLTE3LTcuNi0xNy0xNyAwLS42LjQtMSAxLTFoMy41Yy41IDAgMSAuNCAxIDEgMCAxLjIuMiAyLjUuNiAzLjYuMS40IDAgLjctLjIgMWwtMi4zIDIuMnoiIGZpbGw9IiNmZmZmZmYiLz48L3N2Zz4=);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate3d(0, 0, 0);
}

.Phone.is-animating {
  animation: phone-outer 3000ms infinite;
}

.Phone.is-animating::before{
  animation: phone-inner 3000ms infinite;
}
.Phone.is-animating::after{
  animation: phone-icon 3000ms infinite;
}

@keyframes phone-outer {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
    box-shadow:
            0 0 0 0em rgba(#3498db, 0),
            0em 0.05em 0.1em rgba(#000000, 0.2);
  }
  33.3333% {
    transform: translate3d(0, 0, 0) scale(1.1);
    box-shadow:
            0 0 0 0em rgba(#3498db, 0.1),
            0em 0.05em 0.1em rgba(#000000, 0.5);
  }
  66.6666% {
    transform: translate3d(0, 0, 0) scale(1);
    box-shadow:
            0 0 0 0.5em rgba(#3498db, 0),
            0em 0.05em 0.1em rgba(#000000, 0.2);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
    box-shadow:
            0 0 0 0em rgba(#3498db, 0),
            0em 0.05em 0.1em rgba(#000000, 0.2);
  }
}

@keyframes phone-inner {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(0);
  }
  33.3333% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(0.9);
  }
  66.6666% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(0);
  }
}

@keyframes phone-icon {
  0% { transform: translate3d(0em, 0, 0); }
  2% { transform: translate3d(0.01em, 0, 0); }
  4% { transform: translate3d(-0.01em, 0, 0); }
  6% { transform: translate3d(0.01em, 0, 0); }
  8% { transform: translate3d(-0.01em, 0, 0); }
  10% { transform: translate3d(0.01em, 0, 0); }
  12% { transform: translate3d(-0.01em, 0, 0); }
  14% { transform: translate3d(0.01em, 0, 0); }
  16% { transform: translate3d(-0.01em, 0, 0); }
  18% { transform: translate3d(0.01em, 0, 0); }
  20% { transform: translate3d(-0.01em, 0, 0); }
  22% { transform: translate3d(0.01em, 0, 0); }
  24% { transform: translate3d(-0.01em, 0, 0); }
  26% { transform: translate3d(0.01em, 0, 0); }
  28% { transform: translate3d(-0.01em, 0, 0); }
  30% { transform: translate3d(0.01em, 0, 0); }
  32% { transform: translate3d(-0.01em, 0, 0); }
  34% { transform: translate3d(0.01em, 0, 0); }
  36% { transform: translate3d(-0.01em, 0, 0); }
  38% { transform: translate3d(0.01em, 0, 0); }
  40% { transform: translate3d(-0.01em, 0, 0); }
  42% { transform: translate3d(0.01em, 0, 0); }
  44% { transform: translate3d(-0.01em, 0, 0); }
  46% { transform: translate3d(0em, 0, 0); }
}
/* Ringing Phone */


/*Ripple new*/
.single_add_to_cart_button{
  font-family: $textFont ;
  height: 45px;
  font-size: 13px;
  padding: 0 60px 0 30px !important;
  border: 0;
  outline: 0;
  color: white;
  background-color: $primaryDarkColor;
  border-radius: 3px !important;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3 );
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 10;
}

.single_add_to_cart_button i{
  position: absolute;
  right:12px;
  top: 0;
  font-size: 100%;
  height: 45px;
  line-height: 45px;
}
.single_add_to_cart_button svg{
  position: absolute;
  right:12px;
  top: 12px;
}

.single_add_to_cart_button::before{
  content: "";
  position: absolute;
  right: -30px;
  top: -30px;
  width: 75px;
  height: 200%;
  transform: rotateZ(10deg);
  background-color:tomato;
  @include myTransition(all 0.3s);
  border-radius: 0;
  opacity: 0.2;
  z-index: -1;
}
.single_add_to_cart_button:hover::before{
  width: 150%;
  height: 200%;
  transform: skew(-30deg);
}
.single_add_to_cart_button span {
  position: absolute;
  border-radius: 50%;
  /* To make it round */
  background-color: rgba(0, 0, 0, 0.3);
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  animation: ripple 1s;
  opacity: 0;
}


.footer-aboutUs p{
  width: 100%;
  text-align: justify;
  line-height: 2;
  font-size: 100%;
  font-family: $textFont;
  color: $secondaryWhiteColor;
  user-select: none;
}

/* Custom Header */
.custom-header {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  background:transparent;
  z-index: 1000;
  .custom-header-container {
    padding: 0 24px;
    ul{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      align-items: center;
      align-content: center;
      width: 100%;
      li{
        font-family: $textFont ;
        span{
          font-family: $textFont;
          font-size: 100%;
          color: $primaryColor;
          font-weight: bold;
          .phoneNumber{
            font-family: $textFont;
            color: $primaryColor;
          }
        }
        svg{
          color: #EEEEEE;
          vertical-align: sub;
          @include myTransition(0.3s ease-in-out);
        }
      }

    }
  }
  .header_phones{
    position: fixed;
    left: 65px;
    top: 5px;
    padding: 5px;
    a{
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      direction: ltr;
      font-size: 100%;
      margin: 4px auto;
      //user-select: none;
      color: $secondaryTextColor;
      span{
        padding: 0 4px;
      }
      i{
        font-size: 100%;
        color: $secondaryTextColor;
        vertical-align: text-bottom;
        @include myTransition(0.2s ease);
      }
      .phoneNumber{
        min-width: 90px;
        text-align: left;
      }
      .unit_title{
        min-width: 90px;
        text-align: right;
      }
    }
  }
}

#social_icons{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
}
#social_icons a {
  line-height: 45px;
}
#social_icons a i{
  @include myTransition(0.4s ease);
  color: $secondaryTextColor;
  font-size: 100%;
  margin: 0 4px;
}
#social_icons a i.fa-instagram:hover{
  color: $instaColor;
}

#social_icons a i.fa-telegram:hover{
  color: $telegramColor;
}
.alternate_color, .alternate_color .site-background, .alternate_color .first-quote, .alternate_color .related_image_wrap, .alternate_color .gravatar img .alternate_color .hr_content, .alternate_color .news-thumb, .alternate_color .post-format-icon, .alternate_color .ajax_controlls a, .alternate_color .tweet-text.avatar_no, .alternate_color .toggler, .alternate_color .toggler.activeTitle:hover, .alternate_color #js_sort_items, .alternate_color.inner-entry, .alternate_color .grid-entry-title, .alternate_color .related-format-icon, .grid-entry .alternate_color .avia-arrow, .alternate_color .avia-gallery-big, .alternate_color .avia-gallery-big, .alternate_color .avia-gallery img, .alternate_color .grid-content, .alternate_color .av-share-box ul, #top .alternate_color .av-related-style-full .related-format-icon, .alternate_color .related_posts.av-related-style-full a:hover, .alternate_color.avia-fullwidth-portfolio .pagination .current, .alternate_color.avia-fullwidth-portfolio .pagination a, .alternate_color .av-hotspot-fallback-tooltip-inner, .alternate_color .av-hotspot-fallback-tooltip-count {
  margin-top: 35px;
}

.fourth-row{
  width: 92%;
  margin: auto;
  .fourth-row-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 8px;
    .copyrightText{
      span{
        color: #9e9e9e;
        line-height: 2;
        font-weight: lighter;
        font-size: 85%;
      }
    }
    .social-icons a {
      margin: auto 8px;
      color: #9e9e9e;
      @include myTransition(0.25s ease);
      &:hover{
        color: #EEEEEE;
        i{
          font-weight: normal;
        }
      }
      i{
        font-size: 115%;
      }
    }
  }
}

.social-icons a {
  margin: auto 8px;
  color: $secondaryWhiteColor;
  @include myTransition(0.25s ease);
}
.social-icons a:hover {
  color: #EEEEEE;
}
.social-icons a:hover i{
  font-weight: normal;
}
.social-icons a i{
  font-size: 100%;
}
/* Custom Header */

.cart_dropdown_link [data-av_iconfont='entypo-fontello']:before  {
  display: none !important;
}
#menu-item-search [data-av_iconfont='entypo-fontello']:before {
  content: "\e908";
  font-family: "mycon";
  margin-left: 10px;
  font-size: 130%;
}

/* New */
.fab-container {
  position: fixed;
  bottom: 60px;
  left: 15px;
  z-index: 999;
  cursor: pointer;
}

.fab-icon-holder {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: $successMsgColor;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.fab-icon-holder:hover {
  opacity: 0.8;
}

.fab-icon-holder i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 100%;
  color: #ffffff;
}
.fab-icon-holder svg{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 60%;
  margin: auto;
  font-size: 100%;
  color: #ffffff;
}

.fab {
  width: 50px;
  height: 50px;
  background: forestgreen;
}

.fab-options {
  list-style-type: none;
  margin: 0;
  position: absolute;
  bottom: 70px;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease;
  transform: scale(0);
  transform-origin: 85% bottom;
}

.fab:hover+.fab-options,
.fab-options:hover {
  opacity: 1;
  transform: scale(1);
}

.fab-options li {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}
.fab-options li a{
  align-self: center;
}

.fab-label {
  padding: 2px 5px;
  align-self: center;
  user-select: none;
  white-space: nowrap;
  border-radius: 3px;
  font-size: 100%;
  background: $secondaryTextColor;
  color: #ffffff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}
/* New */

#scroll-bar{
  z-index: 1500;
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  background: $primaryColor;
  height: 3px;
  border-radius: 0;
  display: none;
}

.tooltip {
  font-family: $textFont ;
  font-size: 100%;
}

/* Start Notif Banner */
.notif_banner_container {
  position: fixed;
  bottom: -1000px;
  left: 0;
  width: 100%;
  background: $backgroundColor;
  height: auto;
  padding: 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  box-shadow: 0 0 3px #bdbddb;
  z-index: 9999999;
  .rightSide{
    width: 25%;
    text-align: left;
    img{
      padding: 0;
      width: 95px;
      height: auto;
    }
  }
  .leftSide{
    width: 75%;
    .banner_title p{
      width: 75%;
      text-align: center;
      color: $primaryTextColor;
      font-weight: bold;
      font-size: 100%;
      user-select: none;
    }
    .banner_desc p{
      width: 75%;
      text-align: center;
      color: $secondaryTextColor;
      font-size: 100%;
      user-select: none;
    }
    p{
      padding: 3px;
      margin: 0 0 10px 0;
    }
    .banner_buttons {
      text-align: center;
      width: 75%;
      padding: 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      a#banner_btn1{
        background-color: transparent;
        color: #0ea960;
        border: 1px solid #0ea960;
      }
      a#banner_btn2{
        background-color: transparent;
        color: #0275d8;
        border: 1px solid #0275d8;
      }
      a{
        padding: 5px 15px;
        margin: auto 13px;
        img{
          vertical-align: top;
          width: 20px;
          height: auto;
        }
      }
    }
  }
  .notif_close{
    position: absolute;
    left: 12px;
    top: 50px;
    border: none;
    color: $AccentColor;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    @include myTransition(0.15s ease);
    &:hover{
      color: $primaryColor;
      background-color: #eee;
    }
    i{
      font-size: 100%;
      vertical-align: middle;
    }
  }
}
/* Start Notif Banner */


/* Start Post Attribs */
.template-blog.template-single-blog{
  .post-entry.post-entry-type-standard .entry-content-header{
    display:none;
  }
}
.content .entry-content-wrapper {
  padding-right: 0 !important;
}
#top #main .sidebar {
  border-left-width: 20px !important;
  border-radius: 0;
  border-color: #fff;
}
.container .av-content-small.units {
  border-right: none;
  margin-right: 10px;
}

#post_data_container{
  padding: 0;
  margin: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
  .post_data {
    width: 100%;
    margin: 0 auto;
    .post_title{
      line-height: 1;
      margin: 13px auto;
      a{
        font-size: 50%;
        width: 100%;
      }
    }
    p.post_views_count{
      margin: 0;
      padding: 0;
      font-size: 90%;
      color: $secondaryTextColor;
      i{
        line-height: 2;
        padding: 0 2px;
      }
    }
  }
}

.rt-reading-time {
  margin-top: 8px;
  color: $secondaryTextColor;
  font-size: 85%;
  .rt-label.rt-prefix{
    &:before{
      content: "\e942";
      font-family: mycon;
      vertical-align: text-bottom;
      padding: 0 5px;
    }
  }
}

.single_post_share_btns{
  ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    li{
      list-style-type: none;
      padding: 0;
      margin: auto 8px;
      border-radius: 50px;
      text-align: center;
      i{
        color: #9e9e9e;
        font-size: 115%;
        line-height: 36px;
        &:hover{
          font-weight: bold;
        }
      }
    }
  }
}

.post_tag{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin: 150px 0 13px 0;
  a{
    border: 1px solid transparent;
    padding: 5px 10px;
    margin: 5px;
    color: #757575;
    background-color: #EEEEEE;
    border-radius: 0 !important;
    font-size: 85%;
    &:hover{
      color: #757575;
    }
  }
}
/* Start Post Attribs */


/* Start Product Row Btns */
.addToCart_btns {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 24px;
  a{
    font-size: 85%;
    padding: 8px 24px;
    margin: 4px auto;
    color: #eee;
    border-radius: 3px !important;
    &:hover{
      padding: 8px 24px;
      color: #eee;
    }
  }
}
/* End Product Row Btns */

.avia-layerslider{
  z-index: 0;
}