@media screen and (max-width: 1000px) {
  #custom-footer .fr-element{
    padding: 4px;
  }
  #custom-footer .sr-element{
    padding-right: 60px;
  }
  #custom-footer .tr-element{
    padding-right: 60px;
  }
  #custom-footer .fr-element img{
    width: 70px;
  }
  #custom-footer .fr-element span{
    font-size: 100%;
  }
  #custom-footer .sr-element h6{
    margin: 8px auto;
    padding-top: 8px;
    font-size: 100%;
  }
  #custom-footer .fr-element p {
    margin: 8px auto;
  }
  #custom-footer .sr-element p {
    margin: 10px auto;
  }
  #custom-footer .sr-element p a{
    font-size: 85%;
  }
  #custom-footer .sr-element .footer-social{
    margin: 20px auto;
  }
  #custom-footer .sr-element .footer-social a{
    padding: 0;
    font-size: 85%;
  }
  #custom-footer .tr-element h6{
    margin: 8px auto;
    font-size: 100%;
  }
  #custom-footer .tr-element p {
    font-size: 100%;
  }

}

@media screen and (max-width: 860px) {
  #custom-footer #gateway img {
    width: 80px;
  }
}

@media screen and (max-width: 768px) {
  #top div.product .woocommerce-tabs{
    ol ,ul{
      li{
        font-size: 100%;
      }
    }
  }
  .comment_container {
    p{
      font-size: 85%;
    }
  }
  blockquote {
    p{
      font-size: 65% !important;
    }
  }
  .entry-content p{
    font-size: 100%;
  }
  #menu-item-search [data-av_iconfont='entypo-fontello']:before {
    font-size: 85%;
  }
  #custom-footer .sr-element ul li a{
    font-size: 85%;
  }
  #top #wrap_all .header_color .av-menu-button-colored>a .avia-menu-text{
    font-size: 100%;
  }
  #custom-footer .sr-element{
    margin-bottom: 0;
  }

  form.cart button[type='submit']{
    font-size: 115% !important;
    width: 100%;
    margin: 15px auto;
    i{
      vertical-align: top;
      font-size: 115%;
    }
  }

  .avia_textblock p {
    font-size: 100%;
  }
  #top .main_menu .menu li.av-menu-button-colored.menu-item-top-level-8{
    i{
      display: block;
    }
  }
  #top .main_menu .menu li.av-menu-button-colored.menu-item-top-level-7{
    i{
      display: block;
    }
  }
  .single_add_to_cart_button{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
    z-index: 10;
    font-size: 85% !important;
    &::before{
      display: none;
    }
    i{
      position: relative;
      right: unset;
      top:unset;
      font-size: 100%;
      vertical-align: text-bottom;
      margin: 0;
    }
  }
  .cc-7doi.cc-1ada img{
    width: 60px !important;
    height: 60px !important;
  }
  .pagesClass.mobile{
    display:block;
  }
  .pagesClass.desktop{
    display:none;
  }
  .pagesClass .mainTitle{
    text-align:center;
  }

  .single_download_container .file_title h4{
    font-size: 100%;
  }
  .single_download_container .button_download a{
    font-size: 85%;
  }
  .woo-top-section{
    padding: 20px 0;
    .product_title {
      text-align: center !important;
    }
    .product_meta{
      text-align: center;
    }
    .woocommerce-product-rating{
      padding: 0;
    }
  }
  .woo-tabs{
    z-index: 1;
  }
  .woo-tabs .wc-tabs li{
    width: 100%;
  }
  .woo-tabs .wc-tabs li a{
    width: 100%;
    border-bottom: none !important;
  }
  .woo-tabs .wc-tabs li.active a{
    border-bottom-width: 0 !important;
  }
  .woo-tabs .wc-tabs .reviews_tab a{
    padding-right: 35px !important;
  }

  #top div.woocommerce-message , p.woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received {
    padding: 8px 20px;
    width: 100%;
  }
  .notif_banner_container{
    .rightSide{
      text-align: center;
    }
    .notif_close{
      top: 4px;
      left: 4px;
    }
  }
  .html_av-overlay-side #top #wrap_all .av-burger-overlay li a {
    padding: 15px 50px !important;
  }
  .entry-content-wrapper ul.avia-icon-list li {
    width: auto;
  }
  #header_main {
    height: 80px;
  }
  #header_main .added_to_cart_notification{
    right: unset !important;
    left:0 !important;
    min-width:300px ;
    width:auto;
  }
  #header_main span.logo{
    position: absolute !important;
    right: 35% !important;
    top: 0;
  }
  .footer-aboutUs p{
    width: 95%;
  }
  .html_header_top.html_header_sticky #header {
    top: 0;
  }
  .alternate_color, .alternate_color .site-background, .alternate_color .first-quote, .alternate_color .related_image_wrap, .alternate_color .gravatar img .alternate_color .hr_content, .alternate_color .news-thumb, .alternate_color .post-format-icon, .alternate_color .ajax_controlls a, .alternate_color .tweet-text.avatar_no, .alternate_color .toggler, .alternate_color .toggler.activeTitle:hover, .alternate_color #js_sort_items, .alternate_color.inner-entry, .alternate_color .grid-entry-title, .alternate_color .related-format-icon, .grid-entry .alternate_color .avia-arrow, .alternate_color .avia-gallery-big, .alternate_color .avia-gallery-big, .alternate_color .avia-gallery img, .alternate_color .grid-content, .alternate_color .av-share-box ul, #top .alternate_color .av-related-style-full .related-format-icon, .alternate_color .related_posts.av-related-style-full a:hover, .alternate_color.avia-fullwidth-portfolio .pagination .current, .alternate_color.avia-fullwidth-portfolio .pagination a, .alternate_color .av-hotspot-fallback-tooltip-inner, .alternate_color .av-hotspot-fallback-tooltip-count {
    margin-top: 0;
  }
  .custom-header{
    display: none;
  }

  #custom-footer #gateway{
    justify-content: center;
    a {
      margin: 0 10px;
    }
    img#zarin_img {
      width: 80px;
      padding: 10px;
    }
  }
  #custom-footer #gateway img#FhjbxasmXXMZd5Y5vKZc ,#custom-footer #gateway img#mellat_img   {
    width: 65px;
    margin: 8px;
  }

  .fourth-row {
    width: 100%;
    margin-bottom: 50px;
    .fourth-row-container{
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      .copyrightText{
        span{
          font-size: 85%;
        }
      }
      .social-icons{
        margin: 8px auto;
        width: 100%;
        text-align: center;
        i{
          font-size: 125%;
        }
      }
    }
  }

  .floated-shop {
    display: none;
  }
  .floated-shop i{
    line-height: 50px;
    font-size: 100%;
  }
  .dial-btn{
    display: block;
  }
  .tab-content p{
    padding: 8px;
  }
  .tab-content p a{
    min-width: auto;
  }
  .tab-content p span{
    font-size: 100%;
    margin: auto 8px;
  }
  .tab-content p span strong{
    font-size: 100%;
  }

  .floated_icons-r1 a , .floated_icons-r2 a , .floated_icons-r3 a, .floated_icons-r4 a  {
    border-radius:  0 50px 50px 0;
  }

  .floated_icons-r1 a span , .floated_icons-r2 a span , .floated_icons-r3 a span, .floated_icons-r4 a span {
    font-weight: normal;
    font-size: 100%;
    margin-left: 8px;
  }

  .floated_icons-r1 a:hover span,.floated_icons-r2 a:hover span,.floated_icons-r3 a:hover span,.floated_icons-r4 a:hover span {
    padding: 0;
    width: 0;
    visibility: hidden;
  }
  #custom-footer{
    padding: 20px;
  }
  #custom-footer .fr-element{
    padding: 6px;
    text-align: center;
  }
  #custom-footer .fr-element h6{
    text-align: center;
  }
  #custom-footer .sr-element{
    padding-right: 0;
    text-align: center;
  }

  #custom-footer .tr-element{
    padding-right: 0;
  }
  #custom-footer .fr-element img{
    width: 60px;
  }
  #custom-footer .fr-element span{
    font-size: 100%;
  }
  #custom-footer .sr-element h6{
    text-align: center;
    margin: 10px auto;
    padding-top: 10px;
    font-size: 100%;
  }
  #custom-footer .fr-element p {
    margin: 8px auto;
  }
  #custom-footer .sr-element p {
    margin: 10px auto;
  }
  #custom-footer .sr-element p a{
    font-size: 85%;
  }
  #custom-footer .sr-element .footer-social{
    margin: 20px auto;
  }
  #custom-footer .sr-element .footer-social a{
    padding: 10px;
  }
  #custom-footer .sr-element .footer-social a i{
    font-size: 100%;
  }
  #custom-footer .tr-element {
    text-align: center;
  }
  #custom-footer .tr-element h6{
    margin: 8px auto;
    font-size: 100%;
  }
  #custom-footer .tr-element p {
    margin: 15px auto;
    font-size: 100%;
    span{
      font-size: 100%;
    }
  }
  #socket{
    bottom: 50px;
  }
  .floated_icons_footer{
    display: block;
  }
  .floated_icons-r1 , .floated_icons-r2 , .floated_icons-r3, .floated_icons-r4  {
    display: none;
  }

  #socket .sub_menu_socket li{
    border-right-color: transparent !important;
    width: 100%;
    text-align: center;
    margin: 5px auto;
  }

  footer .footer-social-btns{
    display: none;
  }
  #socket .copyright{
    font-size: 100% !important;
  }
  .avia-search-tooltip.avia-tt{
    left: 100px !important;
  }
  .responsive #top #header_main > .container .main_menu .av-main-nav > li > a {
    padding: 0 0 0 15px !important;
  }
  #customer_login .u-column2 {
    margin-top: 0;
  }
  .woocommerce-MyAccount-navigation{
    width: 100% !important;
  }
  .woocommerce-MyAccount-content{
    width: 100% !important;
  }

  .psfw-inner-wrap{
    border:none !important;
  }

  #top .title_container .container {
    padding-top: 100px !important;
  }

  .responsive #top #wrap_all #header{
    position: fixed !important;
  }

  #customer_login{
    width: 100%;
  }
  .responsive #scroll-top-link {
    display: none;
  }
  #top .commentlist ul {
    margin: 0;
  }
  #top .comment_text {
    font-size: 100%;
  }

  div.product p.stock {
    text-align: center;
  }
  .responsive .shop_table .product-quantity {
    display: block;
  }
  .ls-wp-container {
    margin-top: 0 !important;
  }
  .woo-features{
    display: none;
  }
  .laptop-container .grid-text{
    font-size: 100%;
  }
  .woo-mobile{
    display: block;
    border-radius: 0 !important;
    .product_title{
      text-align: center !important;
      font-size: 100%;
    }
    .product_meta{
      text-align: center;
    }

  }
  .woo-desktop{
    display: none;
  }
  .iconic-woothumbs-zoom-enabled .iconic-woothumbs-images__image{
    padding: 30px;
  }
  .vc_btn3.vc_btn3-size-md{
    font-size: 100% !important;
    padding: 10px 45px 10px 10px !important;
  }
  .woo-docs-tab p{
    font-size: 100% !important;
  }

  .wc-tabs li.active a{
    width: 100%;
  }
  .woo-product-title h2{
    margin-top: 24px;
  }
  .woo-related{
    padding: 24px 12px;
    .related ul.products{
      flex-flow: row wrap;
    }
  }
  .sp-wps-product-image-area{
    border:none !important;
  }
  .grid-container .vc_column-inner{
    display: flex;
    justify-content: center;
  }
  .grid-header h1{
    margin-bottom: 30px !important;
    font-size: 100%;
  }
  .mfp-arrow-left {
    left: 0;
  }
  .mfp-arrow-right {
    right: 0;
  }

  h1.site_title {
    font-size: 100%;
  }
  .responsive #top .main_color .active_tab_content {
    background-color: #ffffff;
  }
  .responsive #top .main_color .tabcontainer .active_tab {
    background-color: #ffffff;
  }

  div .main_color .tabcontainer .active_tab {
    background-color: $titleColor !important;
    color: #EEEEEE !important;
  }
  .responsive .top_tab .tab.fullsize-tab {
    color: $titleColor;
    background-color: #ffffff;
  }
  #top .main_color .tabcontainer .tab:hover {
    color: #EEEEEE;
  }
  .entry-content h3 {
    text-align: center;
  }
  ul.av-share-box-list{
    width: 100% !important;
  }
  span.copyright{
    font-size: 100% !important;
  }
  .sub_menu_socket ul li{
    padding: 4px 10px !important;
    font-size: 85%;
  }

  .tab_inner_content{
    transition: 0.5s ease;
    p{
      font-size: 100% !important;
      text-align: justify;
    }
    li{
      font-size: 75%;
    }
    img{
      margin: 15px auto;
    }
  }
  .av-masonry {
    padding-bottom: 30px!important;
  }
  .woo-price{
    text-align: center;
  }
  .yith-wcwl-add-button{
    justify-content: center;
    text-align: center;
    margin: 24px auto;
  }
  .addtoany_header{
    text-align: center;
  }
  .a2a_kit{
    text-align: center;
  }
  li.av-menu-button-colored a{
    padding:8px 50px !important;
  }
  #top #wrap_all .header_color .av-menu-button-colored > a .avia-menu-text {
    background-color: transparent !important;
    color: $AccentColor !important;
    border-color: transparent !important;
  }

  nav.main_menu ul li a i{
    display: inherit;
  }
  #top .av-menu-button > a .avia-menu-text{
    padding: 0 !important;
  }
  ul.menu-item.cart_dropdown {
    top: 50px !important;
    right: 13px !important;
    z-index: 1 !important;
  }
  li#menu-item-search {
    left: 90px;
  }
  .responsive #top #wrap_all .main_menu {
    left: -75px !important;
  }
  .title_container .breadcrumb {
    right: -4px !important;
    margin: 4px auto !important;
    top: 90px;
  }
  #custom-footer{
    padding: 0;
  }
  .tr-element ul#support_unit li{
    width: 50%;
  }
  .widget_shopping_cart_content {
    min-width: auto;
    visibility:hidden;
  }
  .responsive #top .logo {
    width: auto !important;
  }
  #custom-footer .sr-element h6 ,#custom-footer .tr-element h6 {
    &::after{
      display: none;
    }
  }
  .summary form.cart {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .summary form.cart div.quantity {
    text-align: center;
    margin: 12px auto !important;
  }

  // Customize Cart
  .woocommerce table.shop_table_responsive {
    width: 94%;
    margin: auto !important;
    background-color: transparent;
    border-radius: 0;
  }
  .woocommerce table.shop_table_responsive thead{
    display: none;
  }
  .woocommerce table.shop_table_responsive tr{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 5px;
  }
  .woocommerce table.shop_table_responsive td , .woocommerce table.shop_table_responsive th{
    width: 100% !important;
    padding: 10px 5px !important;
  }
  .woocommerce table.shop_table_responsive td a , .woocommerce table.shop_table_responsive td span, .woocommerce table.shop_table_responsive td .quantity{
    float: left;
  }
  .woocommerce table.shop_table_responsive td.product-remove{
    display: flex !important;
    justify-content: center;
  }
  .woocommerce table.shop_table_responsive td.product-remove::before , .woocommerce table.shop_table_responsive td.actions::before{
    display: none !important;
  }
  .woocommerce table.shop_table_responsive td.product-thumbnail{
    display: block !important;
  }
  .woocommerce table.shop_table_responsive tr td::before, .woocommerce-page table.shop_table_responsive tr td::before {
    content: attr(data-title) ": ";
    font-weight: 700;
    float: right;
  }
  table.cart img {
    width: 50px !important;
  }
  // Customize Cart

  .responsive table.shop_table {
    background-color: transparent;
    border-radius: 0;
  }
  .woocommerce-notices-wrapper{
    width: 100%;
  }
  p.woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received {
    width: auto;
  }
  #top #payment ul.payment_methods li {
    font-size: 85%;
  }
  ul.payment_methods .payment_box{
    p{
      font-size: 100%;
    }
  }
  .pagesClass .wpb_gmaps_widget{
    padding: 0;
  }
  .woo-main-section-footer{
    margin-top: 20px;
  }

  .single_post_share_btns{
    ul{
      justify-content: center;
    }
  }
}

@media screen and (max-width: 650px){
  .woo-docs-tab p{
    font-size: 100% !important;
  }
  #callnowbutton {
    width: 54px;
    height: 54px;
    bottom: 70px;
    left: 20px;
  }
  .title_container {
    height:auto;
  }
}

@media screen and (max-width: 600px) {
  // comment text width
  .rtl div #reviews #comments ol.commentlist li .comment-text {
    margin: 4px !important;
  }
  .notif_banner_container {
    padding: 5px;
    box-shadow: 0 0 2px #bdbddb;
    .rightSide{
      width: 0;
    }
    .leftSide{
      width: 100%;
      .banner_title p{
        width: 100%;
        font-size: 100%;
      }
      .banner_desc p{
        width: 100%;
        font-size: 100%;
      }
      p{
        margin: 0 0 12px 0;
      }
      .banner_buttons {
        width: 100%;
        a{
          padding: 5px 12px;
          margin: 13px;
          img{
            vertical-align: top;
            width: 18px;
            height: auto;
          }
        }
      }
    }
    .notif_close{
      padding: 10px;
      i{
        font-size: 100%;
      }
    }
  }

  #custom-footer #gateway a {
    margin: 0 5px;
  }

  #custom-footer .fr-element{
    padding: 4px;
  }
  #custom-footer .fr-element img{
    width: 55px;
  }
  #custom-footer .fr-element span{
    font-size: 100%;
  }
  #custom-footer .sr-element h6{
    margin: 6px auto;
    padding-top: 6px;
  }
  #custom-footer .fr-element p {
    line-height: 1.5;
    margin: 0 auto;
  }
  #custom-footer .sr-element p {
    margin: 8px auto;
  }
  #custom-footer .sr-element p a{
    font-size: 85%;
  }
  #custom-footer .sr-element .footer-social{
    margin: 15px auto;
  }
  #custom-footer .sr-element .footer-social a{
    padding: 8px;
  }
  #custom-footer .tr-element h6{
    margin: 6px auto;
    font-size: 100%;
  }
  #custom-footer .tr-element h6 span{
    font-size: 100%;
  }
  #custom-footer .tr-element p {
    margin: 10px auto;
    font-size: 100%;
  }
  .title_container .breadcrumb span {
    font-size: 100%;
  }
}

@media screen and (max-width: 500px) {
  #post_data_container{
    .post_data {
      .post_title{
        a{
          font-size: 45%;
        }
      }
    }
  }
  .woo-top-section{
    .product_title {
      text-align: center !important;
      font-size: 100%;
    }
  }
  .template-shop .inner_product .button{
    font-size: 80% !important;
  }
  .template-shop .inner_product .button i{
    font-size: 100%;
  }
  #custom-footer .fr-element span{
    font-size: 100%;
  }
  #custom-footer .fr-element img{
    width: 60px;
  }

  .tracker_tut_list .iconlist_content_wrap h4{
    font-size: 100%;
    font-weight: bold;
  }

  .tracker_tut_gallery figure{
    padding:24px;
  }
  .tracker_tut_gallery h3.entry-title {
    text-align: center;
    font-weight: bold;
  }
  .woo-docs-tab p{
    font-size: 100% !important;
  }
  h1.site_title {
    font-size: 100% ;
  }

  .single_download_container{
    flex-flow: row wrap;
  }
  .single_download_container {
    flex-flow: row wrap;
  }
  .single_download_container .file_title h4 {
    font-size: 100%;
  }
  .single_download_container .button_download {
    width: 100%;
  }
  .single_download_container .button_download a {
    font-size: 80%;
  }
}

@media screen and (max-width: 400px) {
  #custom-footer .fr-element span{
    font-size: 85%;
  }
  #custom-footer .fr-element img{
    width: 45px;
  }
  .woo-docs-tab p{
    font-size: 100% !important;
  }
}

@media screen and (max-width: 300px) {

  #custom-footer #gateway img#zarin_img {
    width: 65px;
  }
  #custom-footer #gateway img#FhjbxasmXXMZd5Y5vKZc ,#custom-footer #gateway img#mellat_img {
    width: 70px;
  }

  #custom-footer .fr-element span{
    display: none;
  }
  #custom-footer .fr-element img{
    width: 35px;
  }

  footer .footer-social-btns a{
    margin: 0;
  }
}
