/* Add your CSS code here. */
/* Variables-Start */
$primaryColor: #f03434;
$primaryDarkColor: #d91e18;
$primaryHoverColor: #E57373;
$AccentColor: #686868;
$titleColor: #1c272b;
$successMsgColor:#03c9a9;
$primaryTextColor: #424242;
$secondaryTextColor: #616161;
$secondaryWhiteColor: #bdbdbd;
$backgroundColor: #f5f5f5;
$hoverColor: #bdbdbd;
$telegramColor: #0088cc;
$instaColor: #C13584;
$aparatColor: #e61358;
$errorColor: tomato;
$tweeterColor: #1DA1F2;
$linkedinColor: #0077B5;
$whatsappColor: #128C7E;
$facebookColor: #4267B2;
$textFont : iranyekan,Sans-serif,Arial;
//$titleFont : iranyekan,iranyekan,Samim,Sans-serif,Arial;
/* Variables-End */
.entry-content table.wp-list-table{
  background-color: #fff !important;
}
.entry-content tr{
  background-color: #fff !important;
}

label.wpforms-field-label {
  font-size: 15px !important;
  padding: 10px 4px !important;
  color: $primaryTextColor;
}

div.wpforms-container-full .wpforms-form {
  ul li {
    padding: 5px !important;
    color: $titleColor;
    font-size: 100%;
  }
  .wpforms-field-label{
    font-size: 100% !important;
    text-align: justify !important;
  }
}

span.wpforms-required-label {
  color: $primaryColor !important;
}

textarea.wpforms-field-medium {
  background: #fff!important;
  border-radius: 0 !important;
  border: 1px solid $hoverColor !important;
}

div.wpforms-container-full .wpforms-form button[type=submit] {
  width:100%;
  font: inherit;
}

.wpforms-field-text input{
  background-color: #ffffff !important;
  border-radius: 0 !important;
}

div.notrequired >label::after{
  content: "(اختیاری)";
  position: absolute;
  color: $secondaryTextColor;
  vertical-align: middle;
  margin: 2px 4px;
  font-size: 12px;
}

div.wpforms-container-full .wpforms-form label.wpforms-error {
  padding: 4px;
  color: $primaryColor;
}



